PORT=5500
BASE_URL=http://localhost:5500

# Llaves de Wompi (usa primero llaves de pruebas)
WOMPI_PUBLIC_KEY=pub_test_xxxxxxxxxxxxxxxxxxxxxxxx
WOMPI_PRIVATE_KEY=prv_test_xxxxxxxxxxxxxxxxxxxxxxxx
WOMPI_INTEGRITY_SECRET=test_integrity_xxxxxxxxxxxxxxxxxxxx
WOMPI_EVENTS_SECRET=test_events_xxxxxxxxxxxxxxxxxxxxxxx

# Contacto web (correo destino)
CONTACT_TO_EMAIL=awala@awalacolombia.org
CONTACT_FROM_EMAIL=AWALA Web <awala@awalacolombia.org>

# SMTP (Google Workspace / Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=awala@awalacolombia.org
SMTP_PASS=tu_app_password_o_password_smtp
